@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.woff");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21; }

h1,
p,
button {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  padding: 0 16px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      padding: 0 24px; } }
  @media (min-width: 1120px) {
    .container {
      padding: 0 32px; } }

.page-header {
  background-color: #ffffff; }

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.page-header__user-menu {
  margin-right: 40px;
  margin-left: auto; }

.page-header__repair-menu {
  position: relative; }
  @media (min-width: 1120px) {
    .page-header__repair-menu {
      position: absolute;
      z-index: 1;
      top: 31px;
      right: 32px; } }

.main-nav {
  display: flex;
  min-height: 88px;
  align-items: center; }
  @media (min-width: 768px) {
    .main-nav {
      width: 602px; } }
  @media (min-width: 1120px) {
    .main-nav {
      display: none; } }

.main-nav__logo {
  order: 1;
  margin-left: 17px; }
  @media (min-width: 768px) {
    .main-nav__logo {
      margin-left: 43px; } }

.logo-image {
  width: 97px;
  height: 51px; }

.user-menu {
  display: none; }
  @media (min-width: 768px) {
    .user-menu {
      width: 152px;
      display: flex;
      justify-content: space-between;
      flex-shrink: 0; } }
  @media (min-width: 1120px) {
    .user-menu {
      display: none; } }

.page-services {
  background-color: #f8f8f8; }

.services {
  position: relative;
  padding-top: 24px; }
  @media (min-width: 768px) {
    .services {
      padding-bottom: 60px; } }
  @media (min-width: 1120px) {
    .services {
      padding-bottom: 150px; } }

.services__title {
  font-size: 28px;
  line-height: 40px; }
  .services__title::before {
    content: "";
    position: absolute;
    left: -17px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 2px; }
    @media (min-width: 768px) {
      .services__title::before {
        left: -25px; } }
    @media (min-width: 1120px) {
      .services__title::before {
        left: -33px; } }

.services__menu-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-top: 24px; }
  @media (min-width: 768px) {
    .services__menu-list {
      margin-top: 32px; } }
  @media (min-width: 1120px) {
    .services__menu-list {
      flex-wrap: wrap; } }

.services__menu-list-item {
  padding: 8px 16px; }
  .services__menu-list-item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff; }

.services__menu-item-link {
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82; }

.repair-menu {
  display: flex;
  width: 96px;
  min-height: 40px;
  justify-content: space-between;
  flex-shrink: 0; }
  .repair-menu::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    top: 4px;
    left: -22px; }
    @media (min-width: 1120px) {
      .repair-menu::before {
        display: none; } }
  @media (min-width: 1120px) {
    .repair-menu {
      width: 368px; } }

.repair-menu__item {
  width: 40px; }
  @media (min-width: 1120px) {
    .repair-menu__item {
      width: 168px; } }

.repair-menu__link {
  position: relative; }
  .repair-menu__link:hover {
    opacity: 0.7; }
  .repair-menu__link:active {
    opacity: 0.3; }
  .repair-menu__link--repair-icon::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FF3E79 url("./source/image/repair-icon.svg") no-repeat center center;
    border: none;
    border-radius: 20px; }
    @media (min-width: 1120px) {
      .repair-menu__link--repair-icon::after {
        top: -10px;
        right: -47px; } }
  .repair-menu__link--repair-status-icon::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FF3E79 url("./source/image/repair-status-icon.svg") no-repeat center center;
    border: none;
    border-radius: 20px; }
    @media (min-width: 1120px) {
      .repair-menu__link--repair-status-icon::after {
        top: -10px;
        right: -47px; } }

.repair-menu__link span {
  display: none; }
  @media (min-width: 1120px) {
    .repair-menu__link span {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      display: inline;
      color: #1B1C21; } }

.button {
  display: inline-block;
  cursor: pointer; }
  .button--showing-more {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1B1C21;
    border: none;
    background-color: transparent; }
    .button--showing-more::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: url("./source/image/pointer.svg") no-repeat center center; }
  .button--pink {
    width: 40px;
    height: 40px;
    background: #FF3E79 no-repeat center center;
    border: none;
    border-radius: 20px;
    cursor: pointer; }
  .button--closed {
    background-image: url("./source/image/burger.svg"); }
    @media (min-width: 768px) {
      .button--closed {
        position: relative; }
        .button--closed::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 32px;
          background-color: #eaeaea;
          border-radius: 1px;
          top: 4px;
          right: -22px; } }
  .button--phone {
    background-image: url("./source/image/phone.svg"); }
  .button--chat {
    background-image: url("./source/image/chat.svg"); }
  .button--profile {
    background-image: url("./source/image/profile.svg"); }
  .button:hover {
    opacity: 0.3; }
  .button:hover {
    opacity: 0.7; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .hero {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; } }
  .hero--position {
    margin-top: 24px; }
    @media (min-width: 768px) {
      .hero--position {
        margin-top: 32px;
        padding: 0 24px; } }
    @media (min-width: 1120px) {
      .hero--position {
        padding: 0 32px; } }

@media (min-width: 768px) {
  .hero__container {
    padding: 0; } }

.hero__text-wrapper {
  width: auto;
  height: 90px;
  margin-bottom: 16px;
  overflow-y: hidden; }
  @media (min-width: 768px) {
    .hero__text-wrapper {
      height: 134px;
      margin-right: 48px; } }
  @media (min-width: 1120px) {
    .hero__text-wrapper {
      height: 155px;
      margin-right: 36px; } }

.hero__text {
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .hero__text {
      line-height: 20px; } }

.hero__button {
  position: relative;
  padding-left: 32px;
  margin-bottom: 16px; }

.hero__image {
  width: 320px;
  height: 176px;
  background: url("./source/image/intro-image.jpg") no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .hero__image {
      width: 360px;
      height: 208px;
      border-radius: 6px;
      flex-shrink: 0; } }
  @media (min-width: 1120px) {
    .hero__image {
      width: 532px;
      height: 307px; } }
