.button {
  display: inline-block;
  cursor: pointer;

  &--showing-more {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1B1C21;
    border: none;
    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;
      background: url(/source/image/pointer.svg) no-repeat center center;
    }
  }

  &--pink {
    width: 40px;
    height: 40px;

    background: #FF3E79 no-repeat center center;
  
    border: none;
    border-radius: 20px;

    cursor: pointer;
  }

  &--closed {
    background-image: url("/source/image/burger.svg");

    @media (min-width: $tablet-width) {
      position: relative;

      &::before {
        content: "";
    
        position: absolute;
    
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        border-radius: 1px;
        top: 4px;
        right: -22px;
      }
    }
  }

  &--phone {
    background-image: url("/source/image/phone.svg");
  }

  &--chat {
    background-image: url("/source/image/chat.svg");
  }

  &--profile {
    background-image: url("/source/image/profile.svg");
  }
}