.services__text-wrapper {
  width: 280px;
  height: 90px;
  margin-top: 24px;
  margin-bottom: 16px;
  overflow-y: hidden;

  @media (min-width: $tablet-width) {
    width: 305px;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    height: 145px;
  }
}