.services {
  position: relative;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 150px;
  }

  &--position {
    @media (min-width: $desktop-width) {
      margin-left: 320px;
      margin-top: -88px;
    }
  }
}

@import "./__menu-list/services__menu-list.scss";
@import "./__menu-list-item/services__menu-list-item.scss";
@import "./__menu-item-link/services__menu-item-link.scss";