.services {
  position: relative;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 150px;
  }
}

@import "./__title/services__title.scss";
@import "./__menu-list/services__menu-list.scss";
@import "./__menu-list-item/services__menu-list-item.scss";
@import "./__menu-item-link/services__menu-item-link.scss";