.repair-menu {
  display: flex;
  width: 96px;
  min-height: 40px;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;

  &::before {
    content: "";

    position: absolute;

    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    top: 4px;
    left: -22px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 368px;
    // text-align: ;
    top: 24px;
    right: 32px;
  }
}

@import "./__item/repair-menu__item.scss";
@import "./__link/repair-menu__link.scss";