.main-nav {
  display: flex;
  min-height: 88px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 602px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@import "./__button/main-nav__button.scss";