.main-nav {
  display: flex;
  min-height: 88px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 602px;
  }
}

@import "./__button/main-nav__button.scss";
@import "./__wrapper/main-nav__wrapper.scss";